html,body{
  background-color: white;
  height:100%;
  font-family: "Gill Sans", sans-serif;
}


#greeting-container{
  display: grid;
  justify-content: center;
  align-items: center;
}

#greeting{
  font-size: 3rem;
  text-align: center;
}
#description{
  font-size: 1rem;
  text-align: center;
}

#root{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}


