
html,body{
  background-color: white;  
  font-family: "Gill Sans", sans-serif;
  color:#424656;
  padding-bottom: 60px;
}


#greeting-container{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top:200px;
}

#greeting{
  font-size: 3rem;
  text-align: center;
}
#description{
  font-size: 1rem;
  text-align: center;
}

#info{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#name{
  background-color: rgba(82, 206, 255, 0.5);
  border-radius: 10px;
  padding:10px;
}

#project-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:0px 10px 0px 10px; 
  transition: box-shadow .3s;
  border-style: solid;
  border-width: 1px;
  border-color: #C2C2C3;
  border-radius: 10px;
}

.project:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
}

.icon{
  font-size: 2rem;
  padding:0px;
  margin:0px 10px 0px 3px;
}

.project-shortdesc{
  padding:0px 5px 0px 5px;
  margin: 5px 0px 5px 0px;
}

.project-shortdesc p{
  padding:0px 5px 0px 5px;
  margin:5px 1px 1px 1px;
  font-family: monospace;
}

.github-link{
  margin-left:10px;
}

#project-section{
  background-color: rgba(160, 251, 153,0.5);
  border-radius: 15px;
  padding: 10px;
}

#experience-title{
  background-color: rgba(156, 181, 245,0.5);
  border-radius: 15px;
  padding: 10px;
}

#experience-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0px 10px 0px 10px; 
}

.experience{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1fr 1fr;
}

#presentation{
  width:100%;
  height:auto;
  border-radius: 9px;
}

#presentation:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
}

.experience-desc{
  margin-left: 20px;
  inline-size: 300px;
  padding:20px;
  overflow-wrap: break-word;
}

#presentation-figure{
  width:30%;
}


.experience-title{
  background-color: rgba(249, 111, 111,0.5);
  padding:5px;
  border-radius: 10px;
  line-height:30px;
}

#america-on-tech-figure{
  width:40%;
}

#aot-img{
  width:100%;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 9px;
}

#aot-img:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
}

#contact-link{
  text-decoration: none;
  float: left;
}

#linkedinlogo{
  width:4%;
  margin-left: 5px;
}

#footer-icon-link{
  display:flex;
  flex-direction: row;
  align-items: center;
}

#activity-container{
  display: flex;
  flex-direction: column;
}

.activity{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#gingerbreadevent-figure{
  width:30%;
}

#gingerbreadevent-img{
  width:100%;
  border-radius: 9px;
}

#gingerbreadevent-img:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
}

#act-title{
  background-color: rgba(0, 114, 195,0.5);
  border-radius: 15px;
  padding: 10px;
}

.activities-title{
  background-color: rgba(249, 111, 111,0.5);
  padding:5px;
  border-radius: 10px;
}

.activity-desc{
  margin-left: 20px;
  inline-size: 300px;
  padding:20px;
  overflow-wrap: break-word;
}